[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[dev-packages]
pylint = "*"
rope = "*"

[requires]
python_version = "3.6"

[packages]
zeep = "*"
python-dateutil = "*"
requests = "*"
pygresql = "*"
"psycopg2" = "*"
matplotlib = "*"
jupyter = "*"
seaborn = "*"
pandas = "*"
click = "*"
requests-oauthlib = "*"
notify_email = {git = "https://github.com/CityofToronto/bdit_python_utilities.git", editable = true, subdirectory = "email_notifications"}
"email_notifications-0.2" = {git = "https://github.com/CityofToronto/bdit_python_utilities.git", editable = true, subdirectory = "email_notifications"}
pysftp = "*"
