[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[dev-packages]
pylint = "*"
rope = "*"

[requires]
python_version = "3.5"

[packages]
zeep = "*"
python-dateutil = "*"
requests = "*"
pygresql = "*"
"psycopg2" = "*"
matplotlib = "*"
jupyter = "*"
seaborn = "*"
pandas = "*"
click = "*"
requests-oauthlib = "*"
"psycopg2-binary" = "*"
pysftp = "*"
email-notifications = {editable = true, subdirectory = "email_notifications", git = "https://github.com/CityofToronto/bdit_python_utilities.git"}
parsing-utilities = {editable = true, subdirectory = "parsing_utilities", git = "https://github.com/CityofToronto/bdit_python_utilities.git"}
