-c constraints.txt

# Airflow
apache-airflow[google,postgres,slack,ftp,http,fab,standard]==3.1.5

# Airflow dag list
graphviz

# Python dependency management
pip-tools==7.5.2

# pipelines
# bs4==0.0.1
# env-canada
geopandas==1.0.1
holidays==0.31
requests-oauthlib

# development
ipython
ipykernel

# linters
ruff

# testing
pytest
pytest-mock
