# Airflow constraints pulled from https://raw.githubusercontent.com/apache/airflow/constraints-2.7.0/constraints-3.10.txt
-c constraints.txt

# Airflow
apache-airflow==2.8.4

# Airflow service providers
apache-airflow-providers-celery==3.6.1
apache-airflow-providers-google==10.16.0
apache-airflow-providers-postgres==5.10.2
apache-airflow-providers-slack==8.6.1

# Airflow dag list
graphviz==0.20.2

# Python dependency management
pip-tools==7.3.0

# pipelines
bs4==0.0.1
env-canada==0.6.1
geopandas==0.13.2
holidays==0.31

# development
ipython==8.22.2
ipykernel==6.29.3

# linters
pydocstyle==6.3.0
pylint==2.17.5
