# Airflow constraints pulled from https://raw.githubusercontent.com/apache/airflow/constraints-2.9.3/constraints-3.10.txt
-c constraints.txt

# Airflow
apache-airflow==2.9.3

# Airflow service providers
apache-airflow-providers-celery
apache-airflow-providers-google
apache-airflow-providers-postgres
apache-airflow-providers-slack

# Airflow dag list
graphviz

# Python dependency management
pip-tools==7.3.0

# pipelines
bs4==0.0.1
env-canada==0.6.1
geopandas==1.0.1
holidays==0.31

# development
ipython
ipykernel

# linters
pydocstyle==6.3.0
pylint==2.17.5

# testing
pytest
pytest-mock